:root {
  .mat-mdc-select-panel {
    background-color: white;
  }

  .mat-mdc-option:hover:not(.mdc-list-item--disabled) {
    background-color: var(--color-teal-400);
    color: white;
  }
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white;
  }
  .mdc-switch--unselected .mdc-switch__track::before {
    background-color: white;
  }
  .mdc-switch__track::before {
    border-width: 2px;
    border-color: var(--color-red-500);
  }

  .mdc-switch--unselected:enabled:hover:not(:focus):not(:active)
    .mdc-switch__handle::after,
  .mdc-switch--unselected:enabled:focus:not(:active)
    .mdc-switch__handle::after {
    background-color: var(--color-red-400);
  }
  .mdc-switch--unselected .mdc-switch__track::before {
    background-color: var(--color-red-100);
  }
  .mdc-switch--selected .mdc-switch__track::after {
    border-width: 2px;
    border-color: var(--color-green-500);
  }
  .mdc-switch__track::after {
    background-color: var(--color-green-300);
  }
}
