/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@config "../../../tailwind.config.js";
@import "./form.css";
@import "./table.css";

body {
  font-family: "Roboto", sans-serif;
}

@theme {
  --animate-wiggle: wiggle 1s ease-in-out 1;
  @keyframes wiggle {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    80% {
      opacity: 0.8;
      transform: translateX(5px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
