<div class="bg-slate-100 px-4 py-2 sticky top-0 z-10">
  <h2 mat-dialog-title class="text-sm">{{ data.title }}</h2>
</div>
<mat-dialog-content class="bg-white w-full">
  <div class="px-4 py-2">
    <ng-container #dynamicComponentHost></ng-container>
  </div>
</mat-dialog-content>
<div
  class="sticky bottom-0 z-10 flex flex-row items-center justify-end gap-2 mr-4"
  *ngIf="!isHidden"
>
  <mat-dialog-actions>
    <button-component
      (click)="onClose()"
      [textBt]="'Cancel'"
      [textIcon]="''"
      [className]="'bg-teal-400 text-white'"
    />
  </mat-dialog-actions>
  <mat-dialog-actions>
    <button-component
      [textBt]="'Submit'"
      [textIcon]="''"
      [className]="'bg-teal-400 text-white'"
      (click)="handleClickSubmit()"
    />
  </mat-dialog-actions>
</div>
