<div
  class="min-h-screen flex flex-col justify-center items-center overflow-auto"
>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 place-items-center h-full">
    <div class="hidden md:flex justify-center items-center overflow-y-auto">
      <img src="login-backgroud.png" alt="logo-authentication" />
    </div>
    <div class="flex flex-col justify-center items-start h-full gap-6">
      <div class="flex flex-col items-start">
        <span class="leading-tight text-4xl font-bold"> Hello, </span>
        <span class="leading-tight text-4xl font-bold"> WELCOME BACK </span>
      </div>
      <div class="w-full">
        <form
          [formGroup]="LoginFormGroup"
          (ngSubmit)="onSubmit()"
          class="flex flex-col gap-4"
        >
          <div class="flex flex-col">
            <div class="py-2 border-b-1">
              <input
                formControlName="user_name"
                placeholder="Enter your username"
                class="focus-visible:outline-none placeholder:text-gray-500"
              />
            </div>
            <span
              *ngIf="
                LoginFormGroup.get('user_name')?.touched &&
                LoginFormGroup.get('user_name')?.invalid
              "
              class="text-sm text-red-500"
            >
              Username is required
            </span>
          </div>
          <div class="flex flex-col">
            <div class="py-2 border-b-1">
              <input
                formControlName="password"
                placeholder="Enter your password"
                class="focus-visible:outline-none placeholder:text-gray-500"
                type="password"
              />
            </div>
            <span
              *ngIf="
                LoginFormGroup.get('password')?.touched &&
                LoginFormGroup.get('password')?.errors?.['required']
              "
              class="text-sm text-red-500"
            >
              password is required
            </span>
          </div>

          <button
            type="submit"
            class="p-2 bg-primary rounded-[10px] text-white cursor-pointer"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
