<form
  [formGroup]="contactFormGroup"
  (ngSubmit)="onSubmit()"
  class="grid grid-cols-1 md:grid-cols-2 gap-4 p-2 bg-white rounded-[10px] shadow w-full"
>
  <mat-form-field hintLabel="">
    <mat-label>Contact name</mat-label>
    <input
      formControlName="contact_name"
      matInput
      placeholder="enter your conact"
      (input)="onInput($event)"
    />
    <mat-error *ngIf="getErrorMsg('contact_name') as msg">
      {{ msg }}
    </mat-error>
  </mat-form-field>
  <mat-form-field hintLabel="">
    <mat-label>Phone</mat-label>
    <input
      formControlName="phone"
      matInput
      pattern="[0-9]*"
      maxlength="11"
      placeholder="Enter phone number"
      (input)="onInput($event)"
    />
    <mat-error *ngIf="getErrorMsg('phone') as msg">
      {{ msg }}
    </mat-error>
  </mat-form-field>

  <mat-form-field hintLabel="">
    <mat-label>Email</mat-label>
    <input
      formControlName="email"
      matInput
      placeholder="enter your email"
      (input)="onInput($event)"
    />
    <mat-error *ngIf="getErrorMsg('email') as msg">
      {{ msg }}
    </mat-error>
  </mat-form-field>
  <mat-form-field hintLabel="">
    <mat-label>Organization</mat-label>
    <input
      formControlName="organization"
      matInput
      placeholder="enter your organization"
      (input)="onInput($event)"
    />
    <mat-error *ngIf="getErrorMsg('organization') as msg">
      {{ msg }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Lead source</mat-label>
    <mat-select formControlName="lead_source">
      <mat-option *ngFor="let item of leadSource" [value]="item"
        >{{ item }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Assigned to</mat-label>
    <mat-select formControlName="assigned_to">
      <mat-option *ngFor="let item of listAssign" [value]="item._id"
        >{{ item.first_name }} {{ item.last_name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Birth Day</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="birthday" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Salutation</mat-label>
    <mat-select formControlName="salutation">
      <mat-option *ngFor="let item of salutations" [value]="item.value">
        {{ item.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field hintLabel="">
    <mat-label>Description</mat-label>
    <input
      formControlName="description"
      matInput
      #input
      placeholder="Ex. Nougat"
      (input)="onInput($event)"
    />
  </mat-form-field>
  <mat-form-field hintLabel="">
    <mat-label>Address</mat-label>
    <input
      formControlName="address"
      matInput
      placeholder="Ex. Nougat"
      (input)="onInput($event)"
    />
    <mat-error *ngIf="getErrorMsg('address') as msg">
      {{ msg }}
    </mat-error>
  </mat-form-field>
  <div class="col-span-2 flex flex-row gap-2 justify-end">
    <button
      (click)="closeForm()"
      class="bg-teal-50 text-teal-500 py-2 px-6 rounded-[8px] cursor-pointer hover:bg-white hover:text-primary transition duration-300 border border-teal-500 hover:border-primary"
    >
      Close
    </button>

    <button
      [disabled]="contactFormGroup.invalid"
      aria-label="Show an example snack-bar"
      type="submit"
      class="bg-cyan-50 text-cyan-500 py-2 px-6 rounded-[8px] cursor-pointer hover:bg-white hover:text-primary transition duration-300 border border-cyan-500 hover:border-primary"
    >
      Submit
    </button>
  </div>
</form>
