<form
  [formGroup]="userFormGroup"
  class="grid grid-cols-1 md:grid-cols-2 gap-4 p-2 bg-white w-full"
>
  <mat-form-field class="w-full">
    <mat-label>First Name</mat-label>
    <input matInput formControlName="first_name" placeholder="Gumayusi" />
    <mat-error *ngIf="getErrorMsg('first_name') as msg">
      {{ msg }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Last Name</mat-label>
    <input matInput formControlName="last_name" placeholder="T1" />
    <mat-error *ngIf="getErrorMsg('last_name') as msg">
      {{ msg }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Email</mat-label>
    <input
      matInput
      formControlName="email"
      placeholder="Ex. john@example.com"
    />
    <mat-error *ngIf="getErrorMsg('email') as msg">
      {{ msg }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Username</mat-label>
    <input matInput formControlName="username" placeholder="Ex. johndoe" />
    <mat-error *ngIf="getErrorMsg('username') as msg">
      {{ msg }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Password</mat-label>
    <div class="flex flex-row items-center justify-between pr-2">
      <input
        autocomplete="off"
        matInput
        [type]="isPasswordHidden ? 'password' : 'text'"
        formControlName="password"
        placeholder="Password"
      />
      <mat-icon class="cursor-pointer" (click)="handleHiddenPassword()"
        >remove_red_eye</mat-icon
      >
    </div>
    <mat-error *ngIf="getErrorMsg('password') as msg">
      {{ msg }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Confirm Password</mat-label>
    <div class="flex flex-row items-center justify-between pr-2">
      <input
        autocomplete="off"
        matInput
        [type]="isPasswordHidden ? 'password' : 'text'"
        formControlName="confirm_password"
        placeholder="Confirm Password"
      />
      <mat-icon class="cursor-pointer" (click)="handleHiddenPassword()"
        >remove_red_eye</mat-icon
      >
    </div>
    <mat-error *ngIf="getErrorMsg('confirm_password') as msg">
      {{ msg }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-full col-span-2">
    <mat-label>Address</mat-label>
    <input matInput formControlName="address" placeholder="123 Main St" />

    <mat-error *ngIf="getErrorMsg('address') as msg">
      {{ msg }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Salutation</mat-label>
    <mat-select formControlName="salutation">
      <mat-option *ngFor="let item of salutations" [value]="item.value">
        {{ item.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Role</mat-label>
    <mat-select formControlName="role">
      <mat-option *ngFor="let role of roles" [value]="role.value">
        {{ role.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Hired Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="hired_date" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Terminated date</mat-label>
    <input
      matInput
      [matDatepicker]="picker2"
      formControlName="terminated_date"
    />
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
    <mat-error *ngIf="getErrorMsg('terminated_date') as msg">
      {{ msg }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Manager name</mat-label>
    <mat-select formControlName="manager_name">
      <mat-option *ngFor="let item of listManager" [value]="item._id">
        {{ item.first_name }} {{ item.last_name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Job Title</mat-label>
    <input
      matInput
      type="text"
      formControlName="job_title"
      placeholder="job title"
    />
    <mat-error *ngIf="userFormGroup.get('job_title') as msg">
      {{ msg }}
    </mat-error>
  </mat-form-field>

  <div class="flex items-center gap-18">
    <mat-slide-toggle formControlName="is_active">Active</mat-slide-toggle>
    <mat-slide-toggle formControlName="is_manager">Manager</mat-slide-toggle>
    <mat-checkbox (change)="onToggleTerminated()" formControlName="is_terminate"
      >Terminate</mat-checkbox
    >
  </div>
</form>
