<div class="mt-6 mx-4 md:mx-10 bg-white p-4 md:p-6 rounded-lg shadow">
  <div class="flex flex-col gap-6">
    <div class="flex flex-col md:flex-row md:items-center gap-4">
      <h1 class="font-semibold text-2xl md:text-4xl">User Management</h1>
      <button
        (click)="openDialog()"
        class="cursor-pointer flex items-center gap-2 bg-primary text-white px-4 py-2 rounded-[10px]"
      >
        <mat-icon>add</mat-icon>
        <span>Add User</span>
      </button>
    </div>
    <h1 class="font-medium text-xl">List of Users</h1>
    <div
      class="flex flex-col md:flex-row md:items-center md:justify-between gap-4"
    >
      <search-component
        (search)="onSearch($event)"
        [titleSearch]="mySearch"
      ></search-component>

      <div class="flex flex-row gap-2 items-center">
        <button
          (click)="openFilter()"
          class="cursor-pointer flex items-center gap-2 bg-emerald-400 text-white px-4 py-2 rounded-[10px]"
        >
          <mat-icon>filter_list</mat-icon>
          <span>Filter by</span>
        </button>
        <button
          (click)="exportToFileCSV()"
          class="cursor-pointer flex items-center gap-2 bg-emerald-400 text-white px-4 py-2 rounded-[10px]"
        >
          <mat-icon>cloud_download</mat-icon>
          <span>Download</span>
        </button>
        <button
          (click)="ngOnInit()"
          class="cursor-pointer flex items-center gap-2 bg-emerald-400 text-white px-4 py-2 rounded-[10px]"
        >
          <mat-icon>replay</mat-icon>
        </button>
      </div>
    </div>
    <h1 class="opacity-90 text-2xl md:text-sm">
      Showing
      {{ pageIndex * pageSize + 1 }}
      -
      {{ Math.min((pageIndex + 1) * pageSize, dataSource.data.length) }}
      of
      {{ dataSource.data.length }}
      records
    </h1>

    <div class="overflow-auto">
      <table mat-table [dataSource]="dataSource" matSort class="">
        <ng-container
          *ngFor="let col of columnDefs"
          [matColumnDef]="col.column"
        >
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ col.label }}
          </th>
          <td mat-cell *matCellDef="let row">
            <ng-container [ngSwitch]="col.column">
              <span
                class="text-primary cursor-pointer"
                *ngSwitchCase="'action'"
                (click)="onRowClick(row)"
                >Edit</span
              >
              <span *ngSwitchCase="'employee'">
                {{ row["first_name"] }} {{ row["last_name"] }}
              </span>
              <span *ngSwitchCase="'role'">
                {{ getDisplayRole(row.role) }}
              </span>

              <span *ngSwitchCase="'manager_name'">
                {{ row["manager_name"] || "-" }}
              </span>
              <span
                *ngSwitchCase="'is_active'"
                [ngClass]="{
                  'px-2 rounded-[9999px] border text-sm font-medium': true,
                  'border-green-500 text-green-500 bg-green-50': row.is_active,
                  'border-red-500 text-red-500 bg-red-50': !row.is_active,
                }"
              >
                {{ row.is_active ? "Active" : "Inactive" }}
              </span>
              <span *ngSwitchDefault>
                {{ row[col.column] || "-" }}
              </span>
            </ng-container>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <tr class="mat-row no-data-row" *matNoDataRow>
          <td class="mat-cell" colspan="10">NO RECORDS FOUND</td>
        </tr>
      </table>
      <mat-paginator
        [hidden]="dataSource.data.length === 0"
        [pageSizeOptions]="[pageSize]"
        showFirstLastButtons
        (page)="onPageChange($event)"
      ></mat-paginator>
    </div>
  </div>
</div>
