<div class="mt-6 mx-4 md:mx-10 bg-white p-4 md:p-6 rounded-lg shadow">
  <div class="mt-6 mx-10"></div>
  <div class="flex flex-col gap-6">
    <div class="flex flex-col gap-10">
      <div class="flex gap-20 items-center">
        <h1 class="font-medium text-4xl">Contacts</h1>
        <div
          (click)="openDialog()"
          class="px-2 cursor-pointer flex items-center justify-center gap-2 h-[35px] bg-primary rounded-[10px] text-white font-medium"
        >
          <mat-icon class="text-white cursor-pointer" [style.color]="'white'"
            >add</mat-icon
          >
          <button class="cursor-pointer">Add Contact</button>
        </div>
      </div>
      <div class="flex justify-between items-center">
        <h1 class="font-medium text-xl">List of Contacts</h1>
      </div>
      <div class="flex flex-row items-center justify-between">
        <search-component
          (search)="onSearch($event)"
          [titleSearch]="mySearch"
        />
        <button
          (click)="openFilter()"
          class="flex items-center gap-2 bg-emerald-400 text-white px-4 py-2 rounded-[10px]"
        >
          <mat-icon>filter_list</mat-icon>
          <span>Filter by</span>
        </button>
      </div>
      <!-- <div>
        <h1 class="opacity-90 text-2xl md:text-sm">
          Showing
          {{ pageIndex * pageSize + 1 }}
          -
          {{ Math.min((pageIndex + 1) * pageSize, dataSource.data.length) }}
          of
          {{ dataSource.data.length }}
          records
        </h1>
      </div> -->
      <div>
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>
            <ng-container
              *ngFor="let col of columnDefs"
              [matColumnDef]="col.column"
            >
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ col.label }}
              </th>
              <td mat-cell *matCellDef="let row">
                <ng-container [ngSwitch]="col.column">
                  <span
                    class="text-primary cursor-pointer flex gap-2"
                    *ngSwitchCase="'action'"
                  >
                    <span
                      (click)="onRowClick(row)"
                      class="px-2 rounded-[9999px] border text-sm font-medium border-fuchsia-500 text-fuchsia-500 bg-fuchsia-50"
                      >Edit</span
                    >
                    <span
                      (click)="onDelete(row)"
                      class="px-2 rounded-[9999px] border text-sm font-medium border-indigo-500 text-indigo-500 bg-indigo-50"
                      >Delete</span
                    >
                  </span>
                  <span *ngSwitchCase="'created_on'">
                    {{ getFormattedDate(row[col.column]) || "-" }}
                  </span>
                  <span *ngSwitchCase="'updated_on'">
                    {{ getFormattedDate(row[col.column]) || "-" }}
                  </span>
                  <span *ngSwitchCase="'all'">
                    <p>
                      <mat-checkbox></mat-checkbox>
                    </p>
                  </span>
                  <span *ngSwitchCase="'assigned_to'">
                    {{ getNameUser(row[col.column]) || "-" }}
                  </span>
                  <span *ngSwitchDefault>
                    {{ row[col.column] || "-" }}
                  </span>
                </ng-container>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">NOT FOUND ITEM HERE</td>
            </tr>
          </table>

          <mat-paginator
            [pageSizeOptions]="[10]"
            showFirstLastButtons
            aria-label="Select page of users"
          ></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
