:root {
  --mat-button-text-label-text-color: white;
  .mat-mdc-button {
    border-radius: 6px;
    background-color: #0099ff;
  }

  .mat-mdc-snackbar-surface {
    padding-right: 0;
    background-color: white;
  }
}
