<div class="mt-4 mx-2 md:mx-6 lg:mx-10 bg-white p-4 md:p-6 rounded-lg shadow">
  <div class="flex flex-col gap-4 md:flex-row md:items-center">
    <h1 class="font-medium text-2xl sm:text-3xl">Sales Order</h1>
    <button-component
      [textBt]="'Add sale order'"
      [textIcon]="'add'"
      [className]="'bg-primary text-white '"
      (click)="openDialog()"
    />
  </div>

  <div
    class="mt-6 flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4"
  >
    <h1 class="font-medium text-lg sm:text-xl">List of Sales Order</h1>
  </div>

  <div
    class="mt-4 flex flex-col lg:flex-row lg:items-center lg:justify-between gap-4"
  >
    <search-component
      (search)="onSearch($event)"
      [titleSearch]="mySearch"
      class="w-full lg:w-auto"
    />

    <div class="flex flex-wrap gap-2">
      <button-component
        [textBt]="'Delete'"
        [textIcon]="'delete'"
        [className]="'bg-emerald-400 text-white'"
        (click)="deleteMany()"
      />
      <button-component
        [textBt]="'Filter by'"
        [textIcon]="'filter_list'"
        [className]="'bg-emerald-400 text-white'"
        (click)="openFilter()"
      />
      <button-component
        [textBt]="'Download'"
        [textIcon]="'cloud_download'"
        [className]="'bg-emerald-400 text-white'"
        (click)="exportToFileCSV()"
      />
      <button-component
        [textBt]="''"
        [textIcon]="'replay'"
        [className]="'bg-emerald-400 text-white'"
        (click)="ngOnInit()"
      />
    </div>
  </div>

  <div class="mat-elevation-z8 overflow-x-auto mt-4">
    <table mat-table [dataSource]="dataSource" matSort class="min-w-full">
      <ng-container *ngFor="let col of columnDefs" [matColumnDef]="col.column">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <ng-container *ngIf="col.label !== 'All'; else showCheckbox">
            {{ col.label }}
          </ng-container>

          <ng-template #showCheckbox>
            <mat-checkbox
              [(ngModel)]="allSelected"
              (change)="selectAllSalesOrder($event.checked)"
            ></mat-checkbox>
          </ng-template>
        </th>
        <td mat-cell *matCellDef="let row">
          <ng-container [ngSwitch]="col.column">
            <span
              class="text-primary cursor-pointer flex gap-2"
              *ngSwitchCase="'action'"
            >
              <span
                (click)="onRowClick(row)"
                class="px-2 rounded-full border text-sm font-medium border-fuchsia-500 text-fuchsia-500 bg-fuchsia-50"
                >Edit</span
              >
              <span
                (click)="onDelete(row)"
                class="px-2 rounded-full border text-sm font-medium border-indigo-500 text-indigo-500 bg-indigo-50"
                >Delete</span
              >
            </span>
            <span *ngSwitchCase="'created_on'">
              {{ row[col.column] | date: "medium" }}
            </span>
            <span *ngSwitchCase="'updated_on'">
              {{ row[col.column] | date: "medium" }}
            </span>
            <span *ngSwitchCase="'purchase_on'">
              {{ row[col.column] | date: "medium" }}
            </span>
            <span *ngSwitchCase="'all'">
              <mat-checkbox
                [(ngModel)]="row.isChecked"
                (change)="insertListDelete(row)"
              ></mat-checkbox>
            </span>
            <span *ngSwitchCase="'assigned_to'">
              {{ row[col.column]?.name || "-" }}
            </span>
            <span *ngSwitchCase="'contact_id'">
              {{ row[col.column]?.name || "-" }}
            </span>
            <span *ngSwitchDefault>
              {{ row[col.column] || "-" }}
            </span>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row no-data-row" *matNoDataRow>
        <td class="mat-cell text-center" colspan="10">NO RECORDS FOUND</td>
      </tr>
    </table>
  </div>

  <mat-paginator
    [hidden]="lengthDatasource === 0"
    [pageSizeOptions]="[pageSize]"
    showFirstLastButtons
    (page)="onPageChange()"
    class="mt-4"
  ></mat-paginator>
</div>
