<form [formGroup]="userFilterForm" class="flex flex-col gap-6">
  <mat-form-field class="block w-full">
    <mat-label>Role</mat-label>
    <mat-select formControlName="role">
      <mat-option *ngFor="let role of displayRole" [value]="role.value">
        {{ role.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Created date</mat-label>
    <mat-date-range-input [rangePicker]="createdDatePicker">
      <input
        matStartDate
        placeholder="Start date"
        formControlName="createdStartDate"
      />
      <input
        matEndDate
        placeholder="End date"
        formControlName="createdEndDate"
      />
    </mat-date-range-input>
    <mat-datepicker-toggle
      matIconSuffix
      [for]="createdDatePicker"
    ></mat-datepicker-toggle>
    <mat-date-range-picker #createdDatePicker></mat-date-range-picker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Updated date</mat-label>
    <mat-date-range-input [rangePicker]="updatedDatePicker">
      <input
        matStartDate
        placeholder="Start date"
        formControlName="updatedStartDate"
      />
      <input
        matEndDate
        placeholder="End date"
        formControlName="updatedEndDate"
      />
    </mat-date-range-input>
    <mat-datepicker-toggle
      matIconSuffix
      [for]="updatedDatePicker"
    ></mat-datepicker-toggle>
    <mat-date-range-picker #updatedDatePicker></mat-date-range-picker>
  </mat-form-field>

  <div class="flex flex-row justify-between items-center">
    <button-component
      [textBt]="'Cancel'"
      [className]="'bg-teal-400 text-white'"
      (click)="onCancel()"
    />
    <button-component
      [textBt]="'Submit'"
      [className]="'bg-teal-400 text-white'"
      (click)="applyFilter()"
    />
  </div>
</form>
